.trendBg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 249, 249);
  border-radius: 16px;
  margin-top: 12px;
}
.trend {
  font-size: 18px;
  font-weight: bold;
  padding: 12px 0;
}
.trend h3 {
  padding: 0 16px;
}
